#errors{
  display: none;
}
#thankYou{
  display: none;
}
a:hover{
  color: white !important;
  text-decoration-line: underline !important;
}
a {
 color: white !important;
}

#errorMessage a{
  color: #84152c !important;
 }

.blue {
  background-color: #00356b;
}
.footer-font{
  color: white;
}
